body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#dartboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #333;
    color: #fff;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    opacity: 0.8;
}
